
* {
  box-sizing: border-box;
}

body {
  margin: 20px;
}


.calculator {
  max-width: 40%;
  // height: 500px;
  padding: 10px;
  padding-top: 10%;
  background-color: black;
  border-radius: 30px;
  // margin: 10px;
  
  

    .display_numbers {
      width: 100%;
      font-size: 30px;
      text-align: left;
      background-color: black;
      color: white;
      outline: black;
      border: none;
      padding-top: 30px;

    }

    .keys {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: (5, 1fr);
      padding: 10px 0;
      gap: 5px;
      width: 100%;

      #button_zero {
        grid-row-start: 5;
        grid-column: span 2/3;
        width: 100%;
        text-align: center;  // fix this
        border-radius: 40px;
      }

    }

}


button {
  // how do i get buttons to be in the center
  border-radius: 50%;
  height: 20px;
  // width: 100%;
  width: 20px;
  border: none;
  background-color: darkgray;
  color: white;
  font-size: 12px;
  cursor: pointer;

  &:hover {
    background-color: darken(darkgray, 40%); // not all the buttons are hovering
  }
}


.key_operator {
  background-color: orange;
}


.operator {
  background-color: lightgray;
}



@media screen and (min-width: 768px) {
  

.calculator {
  padding-top: 10%;
  border-radius: 50px;

  .display_numbers {
    font-size: 80px;
  }

  .keys {
    gap: 5px;

    #button_zero {
      width: 100%;
      text-align: center;  // fix this
      border-radius: 100px;
      }
    }
}

button {
  height: 80px;
  width: 100%;
  font-size: 3em;
}
}


@media screen and (min-width: 1024px) {
  
  .calculator {
    padding-top: 10%;
    border-radius: 70px;
    width: 30%;
    // max-width: unset;
  
    .display_numbers {
      font-size: 80px;
    }
  
    .keys {
      gap: 10px;

      #button_zero {
        width: 100%;
        border-radius: 190px;
        }
      }
  }
  
  button {
    height: 90px;
    width: 100%;
    font-size: 3em;
  }
  }